# temp files
output.txt

# netbeans project and build files
dist
nbproject
build.xml
manifest.mf

# cache (for serialized objects)
cache

# local config
kpelab.properties
maven_install_local_jar.sh

# temp results and data files in data_analysis folder
# .dat files will not be ignored
data_analysis/**/*.txt
data_analysis/**/*.Rhistory
data_analysis/**/*.RData
data_analysis/**/*.pdf